<!DOCTYPE html>
<th:block th:replace="~{fragments/starting::thymeleafAndThema}" />
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="~{fragments/starting::style}" />
    <title>Pizze</title>
</head>
<body>

    <header>
        <th:block th:replace="~{fragments/navbar::navBar}"></th:block>
    </header>
    
    <main>
        <div class="container my-4">
            <div class="d-flex justify-content-around align-items-center">
                <form th:action="@{/pizze/searchByName}" class="mb-3">
                    <div class="input-group">
                        <input type="text" required name="query" class="form-control" placeholder="Cerca pizza per nome...">
                        <button type="submit" class="btn btn-primary">Cerca</button>
                    </div>
                </form>
            </div>

            <h1 class="my-4">Elenco pizze: </h1>
            <div class="row" th:if="${pizzaList.size() > 0}">
                <div th:each="pizza : ${pizzaList}" th:object="${pizza}" class="col-md-4 mb-4">
                    <div class="card" style="width: 100%;">
                        <img th:src="*{urlPhoto}" class="card-img-top" alt="foto pizza">
                        <div class="card-body text-center">
                            <h5 class="card-title" th:text="|*{name}|"></h5>
                            <p class="card-text" th:text="|prezzo: €*{price}|"></p>
                            <div class="d-flex justify-content-around flex-wrap">
                                <a  th:href="@{pizze/{id}(id=*{id})}" class="btn btn-primary col-5 m-1">Dettagli</a>
                                <a th:href="@{pizze/edit/{id}(id=*{id})}" class="btn btn-primary col-5 m-1">Modifica</a>
                                
                                <button type="button" class="btn btn-danger col-5 m-1"
                                        data-bs-toggle="modal"
                                        data-bs-target="#deleteConfirmModal"
                                        th:data-pizza-id="*{id}" 
                                        th:data-pizza-name="*{name}"> 
                                        Elimina
                                </button>
                                <!-- <a th:href="@{pizze/offers/{id}(id=*{id})}" class="btn btn-primary col-5 m-1">Crea offerta</a> -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
        
        <div class="container" th:unless="${pizzaList.size() > 0}">
            <h1 class="text-danger">Nessuna pizza disponibile</h1>
        </div>
        
        <div class="modal fade" id="deleteConfirmModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteConfirmModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteConfirmModalLabel">Conferma Eliminazione</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Sei sicuro di voler eliminare la pizza <strong id="pizzaNameToDelete"></strong>? Questa azione è irreversibile.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                        <form id="deletePizzaForm" action="" method="post">
                             <button type="submit" class="btn btn-danger">Elimina</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    
    <th:block th:replace="~{fragments/starting::js}" />
    <script th:src="@{/js/script.js}"></script>
</body>
</html>